<a href="https://colab.research.google.com/github/skywalker0803r/Calculus/blob/master/Series.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [32]:
import numpy as np

# example1

In [41]:
def f1(n):
  return (-1)**n
sum = []
for i in range(9999):
  sum.append(f1(i))
sum[-1]

1

In [44]:
def f2(n):
  return np.log(n)/n
sum = []
for i in range(9999):
  sum.append(f2(i))
sum[-1]

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:2: RuntimeWarning: divide by zero encountered in log

0.000921198274852322

In [45]:
def f3(n):
  return n/(n+1)
sum = []
for i in range(9999):
  sum.append(f3(i))
sum[-1]

0.9998999899989999

# example2

In [50]:
def f4(n):
  a = 2**(2*n)
  b = 3**(1-n)
  return a*b
sum = []
for i in range(99):
  sum.append(f4(i))
sum[-1]

5261595317225.902